.list-vacancy li a {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.list-vacancy li a small,
.list-vacancy li a .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
.list-vacancy li a {
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-vacancy li a small,
.list-vacancy li a .small {
  font-size: 75%;
}
.list-vacancy li a {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.list-vacancy li a {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 10px;
}
.list-vacancy li a {
  border-bottom: 1px dashed #2c2432;
}
