
.icon-ventilyatsiya:before { content: '\e800'; } /* '' */
.icon-otoplenie:before { content: '\e801'; } /* '' */
.icon-2:before { content: '\e802'; } /* '' */
.icon-santekhnika:before { content: '\e803'; } /* '' */
.icon-4:before { content: '\e804'; } /* '' */
.icon-6:before { content: '\e805'; } /* '' */