@import (reference) "../../../../../../../../templates/hogart/variables";

form {
  text-align: left;
}
.authinfo {
  margin-bottom: 20px;
}

.contacts {
  margin-bottom: 20px;
  .contact {
    strong {
      padding-right: 20px;
    }
  }
}

.stores {
  margin-bottom: 20px;
  .store {
    .fa {
      padding-right: 20px;
      font-size: @font-size-h5;
      &.fa-star-o {
        cursor: pointer;
      }
    }
  }
}