.catalog-subs {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.catalog_page .perechen .perechen-produts.list > li img {
  max-height: 220px;
}
.more-collection-desc[aria-expanded="true"] {
  display: none;
}
.price-list a {
  transition: all .3s linear;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
}
.price-list a:hover {
  color: #95c600 !important;
  text-decoration: underline !important;
}
.catalog-subs {
  background: white;
  border-left: 1px solid #95c600;
}
.catalog-subs a {
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  text-decoration: underline !important;
  margin-bottom: 5px;
  display: block;
}
.catalog-subs a:hover {
  color: #95c600 !important;
}
.stocks-wrapper {
  display: none;
  border: 0 none;
  border-radius: 5px;
  right: -25px;
  bottom: 35px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 10px 2px #666;
  width: 330px;
  z-index: 100;
}
.stocks-wrapper .stock-header {
  background: #95c600;
  white-space: normal;
  text-align: center;
  border-radius: 5px 5px 0 0;
  color: white;
  font-size: 1.2em;
  padding: 6px 10px;
}
.stocks-wrapper .stock-items {
  color: #2c2432;
  padding: 0 10px 10px;
}
.stocks-wrapper .stock-items .stock-items-table {
  position: relative;
  display: table;
  width: 100%;
}
.stocks-wrapper .stock-items .stock-items-table .stock-item {
  display: table-row;
}
.stocks-wrapper .stock-items .stock-items-table .stock-item:after {
  position: absolute;
  display: table-cell;
  width: 100%;
  content: "";
  height: 0;
  border-bottom: 1px solid #6d597c;
}
.stocks-wrapper .stock-items .stock-items-table .stock-item:last-child:after {
  content: none;
}
.stocks-wrapper .stock-items .stock-items-table .stock-item span {
  display: block;
  padding: 10px 0;
  vertical-align: middle;
}
.stocks-wrapper .stock-items .stock-items-table .stock-item span.stock-name {
  padding: 0;
}
.stocks-wrapper .stock-items .stock-items-table .stock-item span.quantity {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
.stocks-wrapper .stock-items .stock-items-table .stock-item span.quantity .amount {
  margin: 0;
}
.stocks-wrapper .stock-items .stock-items-table .stock-item span.quantity .desc {
  margin-top: 0;
  color: #6d597c;
}
.stocks-wrapper .triangle-with-shadow {
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: absolute;
  bottom: -30px;
  right: 15px;
}
.stocks-wrapper .triangle-with-shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: #fff;
  transform-origin: center;
  transform: translate(50%, -50%) rotate(45deg);
  box-shadow: 1px 1px 10px 1px #666;
}
.catalog_page .perechen .perechen-produts.grid,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] {
  padding-left: 25px !important;
  margin-left: -25px !important;
  transition: max-height 0.4s ease;
  margin-top: 0 !important;
}
.catalog_page .perechen .perechen-produts.grid .quantity-wrapper {
  position: relative;
}
.catalog_page .perechen .perechen-produts.grid .quantity-wrapper:hover .stocks-wrapper {
  display: block !important;
}
.catalog_page .perechen .perechen-produts.grid .discount {
  top: auto;
  left: auto;
  background-color: #95c600;
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  position: relative;
}
.catalog_page .perechen .perechen-produts.grid.closed,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper].closed {
  max-height: 46px !important;
}
.catalog_page .perechen .perechen-produts.grid.closed .brand-name .fa:before,
.catalog_page .perechen .perechen-produts.grid.closed .section-name .fa:before,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper].closed .brand-name .fa:before,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper].closed .section-name .fa:before {
  content: "\f055" !important;
}
.catalog_page .perechen .perechen-produts.grid > .caption,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #95c600;
}
.catalog_page .perechen .perechen-produts.grid > .caption > span,
.catalog_page .perechen .perechen-produts.grid > .caption > div,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div {
  display: block;
  padding: 0;
}
.catalog_page .perechen .perechen-produts.grid > .caption > span.brand-name,
.catalog_page .perechen .perechen-produts.grid > .caption > div.brand-name,
.catalog_page .perechen .perechen-produts.grid > .caption > span .section-name,
.catalog_page .perechen .perechen-produts.grid > .caption > div .section-name,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span.brand-name,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div.brand-name,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span .section-name,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div .section-name {
  cursor: pointer;
}
.catalog_page .perechen .perechen-produts.grid > .caption > span.brand-name .fa,
.catalog_page .perechen .perechen-produts.grid > .caption > div.brand-name .fa,
.catalog_page .perechen .perechen-produts.grid > .caption > span .section-name .fa,
.catalog_page .perechen .perechen-produts.grid > .caption > div .section-name .fa,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span.brand-name .fa,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div.brand-name .fa,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span .section-name .fa,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div .section-name .fa {
  margin-left: -17px;
  margin-right: 5px;
}
.catalog_page .perechen .perechen-produts.grid > .caption > span.brand-name .fa:before,
.catalog_page .perechen .perechen-produts.grid > .caption > div.brand-name .fa:before,
.catalog_page .perechen .perechen-produts.grid > .caption > span .section-name .fa:before,
.catalog_page .perechen .perechen-produts.grid > .caption > div .section-name .fa:before,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span.brand-name .fa:before,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div.brand-name .fa:before,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span .section-name .fa:before,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div .section-name .fa:before {
  content: "\f056";
}
.catalog_page .perechen .perechen-produts.grid > .caption > span .section-link,
.catalog_page .perechen .perechen-produts.grid > .caption > div .section-link,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span .section-link,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div .section-link {
  float: right;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}
.catalog_page .perechen .perechen-produts.grid > .caption > span .section-link a,
.catalog_page .perechen .perechen-produts.grid > .caption > div .section-link a,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > span .section-link a,
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] > .caption > div .section-link a {
  color: #2c2432;
}
.catalog_page .perechen .perechen-produts.grid > li > div {
  height: 100%;
  padding: 15px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog_page .perechen .perechen-produts.grid > li > div a.buy {
  background-color: #95c600;
  color: white;
  margin-top: 0;
  display: inline-block;
  padding: 5px 10px;
  line-height: 14px;
  border-radius: 5px;
}
.catalog_page .perechen .perechen-produts.grid > li > div a.buy .fa {
  font-size: 16px;
}
.catalog_page .perechen .perechen-produts.grid > li > div .buy-btn {
  display: block;
  visibility: visible;
  margin-top: 15px;
  transition: all 0s linear;
}
.catalog_page .perechen .perechen-produts.grid > li > div .perechen-img {
  border: 1px solid rgba(238, 238, 238, 0.7);
  border-radius: 3px;
}
.catalog_page .perechen .perechen-produts.grid > li > div:hover {
  border: 1px solid #95c600;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.catalog_page .perechen .perechen-produts.grid > li > div:hover .perechen-img {
  border-color: transparent;
}
.catalog_page .perechen .perechen-produts.grid > li > div:hover .buy-btn {
  visibility: visible;
}
.catalog_page .perechen .perechen-produts.list.table-view {
  overflow: initial;
}
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table {
  overflow: initial;
}
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper] {
  margin-bottom: 20px;
}
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table [data-brand-wrapper].closed {
  margin-bottom: 0;
}
.catalog_page .perechen .perechen-produts.list div.collection-table {
  display: block;
  margin-top: 30px;
  border: none;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] {
  display: table;
  width: 100%;
  padding: 0;
  list-style-type: none;
  border-collapse: collapse;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-subtable-header {
  display: block;
  transform: rotate(90deg);
  height: 0;
  transform-origin: left top 0;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-subtable-header span {
  display: block;
  transform: rotate(180deg);
  text-align: center;
  background-color: #95c600;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  box-shadow: -1px -1px 1px 1px #666;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-subtable-header span:before {
  content: " ";
  position: relative;
  display: block;
  padding: 0 50%;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header {
  display: table-row;
  background-color: #ccc;
  text-align: center;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell {
  display: table-cell;
  padding: 10px 5px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  border-right: white 1px solid;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell:last-child,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell:last-child,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell:last-child,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell:last-child {
  border-right: none;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.price,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.price,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.price,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.price {
  white-space: nowrap;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell .discount,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell .discount,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell .discount,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell .discount {
  top: auto;
  left: auto;
  background-color: #95c600;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy a,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy a,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy a,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy a {
  background-color: white;
  box-shadow: 1px 1px 1px 1px #666;
  margin-top: 0;
  display: inline-block;
  padding: 5px 10px;
  line-height: 14px;
  border-radius: 5px;
  border: 0 none;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy a .fa,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy a .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy a .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy a .fa {
  font-size: 16px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity .fa,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity .fa {
  vertical-align: middle;
  line-height: 22px;
  cursor: pointer;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity .fa.fa-minus,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity .fa.fa-minus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity .fa.fa-minus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity .fa.fa-minus {
  padding-right: 1px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity .fa.fa-plus,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity .fa.fa-plus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity .fa.fa-plus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity .fa.fa-plus {
  padding-left: 1px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity input,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity input,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity input,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity input {
  border: none;
  border-radius: 3px;
  background: transparent !important;
  outline: none;
  height: 22px;
  font-size: 12px;
  color: #95c600;
  text-align: center;
  width: 40px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity input:focus,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity input:focus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity input:focus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity input:focus {
  color: #95c600;
  border: 1px solid #95c600;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id],
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] {
  display: table-row;
  border-bottom: 1px solid #95c600;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id]:hover,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id]:hover {
  background-color: rgba(149, 198, 0, 0.1);
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id]:last-child,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id]:last-child {
  border-bottom: none;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell {
  font-weight: normal;
  border-right: none;
  text-align: left;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity .fa {
  color: red;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .fa {
  color: #95c600;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity .quantity-wrapper,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity .quantity-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity .quantity-wrapper:after,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity .quantity-wrapper:after {
  border-bottom: dotted 1px #95c600;
  display: block;
  content: " ";
  margin-top: 2px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity .quantity-wrapper:hover .stocks-wrapper,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity .quantity-wrapper:hover .stocks-wrapper {
  display: block !important;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption {
  display: table-caption;
  margin-bottom: 10px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-image {
  width: 30%;
  float: right;
  position: relative;
  cursor: pointer;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-image:before {
  opacity: 0;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background: rgba(0, 0, 0, 0.48);
  background-image: url(/images/open_popup.png);
  background-repeat: no-repeat;
  transition: all 0.3s;
  z-index: 1000000;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-image:hover:before {
  opacity: 1;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description {
  margin-right: 31%;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description .collection-title {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description .collection-text {
  margin-top: 5px;
  font-size: 12px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description .collection-text * {
  font-size: 12px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description .collection-text .more + .detail {
  display: none;
}
.catalog_page .perechen .perechen-produts.list li.brand-table {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] {
  display: table;
  width: 100%;
  padding: 0;
  list-style-type: none;
  border-collapse: collapse;
}
