@import (reference) "../../../../../../../variables";
@import (reference) "../../../../../../../bootstrap";

.catalog_page .perechen .perechen-produts.list > li img {
  max-height: 220px;
}

.more-collection-desc[aria-expanded="true"] {
  display: none;
}

.price-list {
  a {
    transition: all .3s linear;
    font-family: @font-family-serif;
    font-size: 1.1em;

    &:hover {
      color: @brand-green !important;
      text-decoration: underline !important;
    }
  }
}
.catalog-subs {
  &:extend(.container-fluid);
  background: white;
  border-left: 1px solid @brand-green;

  a {
    font-size: @font-size-h6;
    font-family: @font-family-serif;
    text-transform: uppercase;
    text-decoration: underline !important;
    margin-bottom: 5px;
    display: block;
    &:hover {
      color: @brand-green !important;
    }
  }
}

.stocks-wrapper {
  display: none;
  border: 0 none;
  border-radius: 5px;
  right: -25px;
  bottom: 35px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 10px 2px #666;
  width: 330px;
  z-index: 100;
  .stock-header {
    background: @brand-green;
    white-space: normal;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 1.2em;
    padding: 6px 10px;
  }
  .stock-items {
    color: @brand-black;
    padding: 0 10px 10px;
    .stock-items-table {
      position: relative;
      display: table;
      width: 100%;
      .stock-item {
        display: table-row;
        &:after {
          position: absolute;
          display: table-cell;
          width: 100%;
          content: "";
          height: 0;
          border-bottom: 1px solid lighten(@brand-black, 25%)
        }
        &:last-child:after {
          content: none;
        }
        span {
          display: block;
          padding: 10px 0;
          vertical-align: middle;
          &.stock-name {
            padding: 0;
          }
          &.quantity {
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;
            .amount {
              margin: 0;
            }
            .desc {
              margin-top: 0;
              color: lighten(@brand-black, 25%)
            }
          }
        }
      }
    }
  }
  .triangle-with-shadow {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    bottom: -30px;
    right: 15px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      background: #fff;
      transform-origin: center;
      transform:
              translate(50%, -50%)
              rotate(45deg)
    ;
      box-shadow: 1px 1px 10px 1px #666;
    }
  }
}

.catalog_page .perechen {
  .perechen-produts.grid {
    padding-left: 25px !important;
    margin-left: -25px !important;
    transition: max-height .4s ease;
    .quantity-wrapper {
      position: relative;
      &:hover {
        .stocks-wrapper {
          display: block !important;
        }
      }
    }

    .discount {
      top: auto;
      left: auto;
      background-color: @brand-green;
      display: inline-block;
      width: 30px;
      height: 30px;
      color: #fff;
      border-radius: 100%;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      position: relative;
    }

    &.closed {
      max-height: 46px !important;
      .brand-name,
      .section-name {
        .fa {
          &:before {
            content: "\f055" !important;
          }
        }
      }
    }
    > .caption {
      font-weight: 500;
      font-size: @font-size-h5;
      text-transform: uppercase;
      padding-bottom: 5px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid @brand-green;
      > span,
      > div {
        display: block;
        padding: 0;
        &.brand-name,
        .section-name {
          cursor: pointer;
          .fa {
            margin-left: -17px;
            margin-right: 5px;
            &:before {
              content: "\f056";
            }
          }
        }
        .section-link {
          float: right;
          font-size: @font-size-h5;
          font-weight: normal;
          text-transform: none;
          a {
            color: @brand-black;
          }
        }
      }
    }
    margin-top: 0 !important;
    > li > div {
      height: 100%;
      padding: 15px;
      border: 1px solid transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a.buy {
        background-color: @brand-green;
        color: white;
        margin-top: 0;
        display: inline-block;
        padding: 5px 10px;
        line-height: 14px;
        border-radius: 5px;
        //border: 1px solid @brand-green;
        .fa {
          font-size: 16px;
        }
      }

      .buy-btn {
        display: block;
        visibility: visible;
        margin-top: (@grid-gutter-width / 2);
        transition: all 0s linear;
      }

      .perechen-img {
        border: 1px solid rgba(238, 238, 238, .7);
        border-radius: 3px;
      }

      &:hover {
        border: 1px solid @brand-green;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px #ccc;

        .perechen-img {
          border-color: transparent;
        }
        .buy-btn {
          visibility: visible;
        }
      }
    }
  }
  .perechen-produts.list {
    &.table-view {
      overflow: initial;
      li.brand-table {
        overflow: initial;
        [data-brand-wrapper] {
          &:extend(.catalog_page .perechen .perechen-produts.grid);
          margin-bottom: 20px;
          &.closed {
            margin-bottom: 0;
            &:extend(.catalog_page .perechen .perechen-produts.grid.closed all);
          }
          > .caption {
            &:extend(.catalog_page .perechen .perechen-produts.grid > .caption all);
          }
        }
      }
    }
    div.collection-table {
      display: block;
      margin-top: 30px;
      border: none;
      ul[data-collection] {
        display: table;
        width: 100%;
        padding: 0;
        list-style-type: none;
        border-collapse: collapse;
        li {
          &.brand-collection-subtable-header {
            display: block;
            transform: rotate(90deg);
            height: 0;
            transform-origin: left top 0;
            span {
              display: block;
              transform: rotate(180deg);
              text-align: center;
              background-color: @brand-green;
              color: white;
              padding: 2px 5px;
              font-size: 12px;
              white-space: nowrap;
              position: absolute;
              box-shadow: -1px -1px 1px 1px #666;
              &:before {
                content: " ";
                position: relative;
                display: block;
                padding: 0 50%;
              }
            }
          }
          &.brand-collection-header {
            display: table-row;
            background-color: #ccc;
            text-align: center;
            span {
              &.cell {
                display: table-cell;
                padding: 10px 5px;
                vertical-align: middle;
                font-size: 12px;
                font-weight: bold;
                border-right: white 1px solid;
                &:last-child {
                  border-right: none;
                }
                &.price {
                  white-space: nowrap;
                }
                .discount {
                  top: auto;
                  left: auto;
                  background-color: @brand-green;
                }
                &.buy {
                  a {
                    background-color: white;
                    box-shadow: 1px 1px 1px 1px #666;
                    margin-top: 0;
                    display: inline-block;
                    padding: 5px 10px;
                    line-height: 14px;
                    border-radius: 5px;
                    border: 0 none;
                    .fa {
                      font-size: 16px;
                    }
                  }
                }
                &.buy-quantity {
                  .fa {
                    vertical-align: middle;
                    line-height: 22px;
                    cursor: pointer;
                    &.fa-minus {
                      padding-right: 1px;
                    }
                    &.fa-plus {
                      padding-left: 1px;
                    }
                  }
                  input {
                    border: none;
                    border-radius: 3px;
                    background: transparent !important;
                    outline: none;
                    height: 22px;
                    font-size: 12px;
                    color: @brand-green;
                    text-align: center;
                    width: 40px;

                    &:focus {
                      color: @brand-green;
                      border: 1px solid @brand-green;
                    }
                  }
                }
              }
            }
          }

          &[data-collection-item-id] {
            display: table-row;
            border-bottom: 1px solid @brand-green;
            &:hover {
              background-color: rgba(149, 198, 0, .1);
            }
            &:last-child {
              border-bottom: none;
            }
            span {
              &.cell {
                &:extend(.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell all);
                font-weight: normal;
                border-right: none;
                text-align: left;
                &.quantity {
                  .fa {
                    color: red;
                  }
                  &--available {
                    .fa {
                      color: @brand-green;
                    }
                  }
                  .quantity-wrapper {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;

                    &:after {
                      border-bottom: dotted 1px @brand-green;
                      display: block;
                      content: " ";
                      margin-top: 2px;
                    }

                    &:hover {
                      .stocks-wrapper {
                        display: block !important;
                      }
                    }
                  }
                }
              }
            }
          }
          &.caption {
            display: table-caption;
            margin-bottom: 10px;
            .collection-image {
              width: 30%;
              float: right;
              position: relative;
              cursor: pointer;
              &:before {
                opacity: 0;
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                width: 42px;
                height: 42px;
                background: rgba(0, 0, 0, 0.48);
                background-image: url(/images/open_popup.png);
                background-repeat: no-repeat;
                transition: all 0.3s;
                z-index: 1000000;
              }
              &:hover:before {
                opacity: 1;
              }
            }
            .collection-description {
              margin-right: 31%;
              .collection-title {
                font-weight: bold;
                font-size: 16px;
                padding-bottom: 5px;
              }
              .collection-text {
                margin-top: 5px;
                font-size: 12px;
                * {
                  font-size: 12px;
                }
                .preview {

                }
                .detail {

                }
                .more {
                  + .detail {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    li.brand-table {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
      ul[data-brand] {
        display: table;
        width: 100%;
        padding: 0;
        list-style-type: none;
        border-collapse: collapse;
        li {
          &.brand-collection-header {
            &:extend(.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header all);
          }
          &[data-brand-item-id] {
            &:extend(.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] all);
          }
        }
      }
    }
  }
}
