.catalog_page .perechen .perechen-produts.list.table-view {
  overflow: initial;
}
.catalog_page .perechen .perechen-produts.list.table-view li.brand-table {
  overflow: initial;
}
.catalog_page .perechen .perechen-produts.list div.collection-table {
  display: block;
  margin-top: 30px;
  border: none;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] {
  display: table;
  width: 100%;
  padding: 0;
  list-style-type: none;
  border-collapse: collapse;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-subtable-header {
  display: block;
  transform: rotate(90deg);
  height: 0;
  transform-origin: left top 0;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-subtable-header span {
  display: block;
  transform: rotate(180deg);
  text-align: center;
  background-color: #95c600;
  color: white;
  padding: 2px 5px;
  font-size: 10px;
  white-space: nowrap;
  position: relative;
  box-shadow: -1px -1px 1px 1px #666;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header {
  display: table-row;
  background-color: #ccc;
  text-align: center;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell {
  display: table-cell;
  padding: 10px 5px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  border-right: white 1px solid;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell:last-child,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell:last-child,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell:last-child,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell:last-child {
  border-right: none;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.price,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.price,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.price,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.price {
  white-space: nowrap;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell .discount,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell .discount,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell .discount,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell .discount {
  top: auto;
  left: auto;
  background-color: #95c600;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy a,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy a,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy a,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy a {
  background-color: white;
  box-shadow: 1px 1px 1px 1px #666;
  margin-top: 0;
  display: inline-block;
  padding: 5px 10px;
  line-height: 14px;
  border-radius: 5px;
  border: 0 none;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy a .fa,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy a .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy a .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy a .fa {
  font-size: 16px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity .fa,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity .fa {
  vertical-align: middle;
  line-height: 22px;
  cursor: pointer;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity .fa.fa-minus,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity .fa.fa-minus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity .fa.fa-minus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity .fa.fa-minus {
  padding-right: 1px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity .fa.fa-plus,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity .fa.fa-plus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity .fa.fa-plus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity .fa.fa-plus {
  padding-left: 1px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity input,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity input,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity input,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity input {
  border: none;
  border-radius: 3px;
  background: transparent !important;
  outline: none;
  height: 22px;
  font-size: 12px;
  color: #95c600;
  text-align: center;
  width: 40px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.brand-collection-header span.cell.buy-quantity input:focus,
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.buy-quantity input:focus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li.brand-collection-header span.cell.buy-quantity input:focus,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.buy-quantity input:focus {
  color: #95c600;
  border: 1px solid #95c600;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id],
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] {
  display: table-row;
  border-bottom: 1px solid #95c600;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id]:hover,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id]:hover {
  background-color: rgba(149, 198, 0, 0.1);
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id]:last-child,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id]:last-child {
  border-bottom: none;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell {
  font-weight: normal;
  border-right: none;
  text-align: left;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity .fa {
  color: red;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .fa,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .fa {
  color: #95c600;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper:after,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper:after {
  border-bottom: dotted 1px #95c600;
  display: block;
  content: " ";
  margin-top: 2px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper {
  display: none;
  border: 0 none;
  border-radius: 5px;
  right: -20px;
  top: 30px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 10px 2px #666;
  width: 330px;
  z-index: 100;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-header,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-header {
  background: #95c600;
  border-radius: 5px 5px 0 0;
  color: white;
  font-size: 1.2em;
  padding: 6px 10px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items {
  padding: 0 10px 10px;
  width: 310px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items .stock-items-table,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items .stock-items-table {
  display: table;
  width: 100%;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items .stock-items-table .stock-item,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items .stock-items-table .stock-item {
  display: table-row;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items .stock-items-table .stock-item span,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items .stock-items-table .stock-item span {
  display: table-cell;
  padding-top: 10px;
  vertical-align: middle;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items .stock-items-table .stock-item span.quantity,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .stock-items .stock-items-table .stock-item span.quantity {
  white-space: nowrap;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .fa-caret-up,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper .stocks-wrapper .fa-caret-up {
  position: absolute;
  top: -25px;
  right: 20px;
  font-size: 35px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li[data-collection-item-id] span.cell.quantity--available .quantity-wrapper:hover .stocks-wrapper,
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] li[data-brand-item-id] span.cell.quantity--available .quantity-wrapper:hover .stocks-wrapper {
  display: block !important;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption {
  display: table-caption;
  margin-bottom: 10px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-image {
  width: 30%;
  float: right;
  position: relative;
  cursor: pointer;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-image:before {
  opacity: 0;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background: rgba(0, 0, 0, 0.48);
  background-image: url(/images/open_popup.png);
  background-repeat: no-repeat;
  transition: all 0.3s;
  z-index: 1000000;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-image:hover:before {
  opacity: 1;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description {
  margin-right: 31%;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description .collection-title {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description .collection-text {
  margin-top: 5px;
  font-size: 12px;
}
.catalog_page .perechen .perechen-produts.list div.collection-table ul[data-collection] li.caption .collection-description .collection-text * {
  font-size: 12px;
}
.catalog_page .perechen .perechen-produts.list li.brand-table {
  border: none;
}
.catalog_page .perechen .perechen-produts.list li.brand-table ul[data-brand] {
  display: table;
  width: 100%;
  padding: 0;
  list-style-type: none;
  border-collapse: collapse;
}
.catalog_page .perechen .perechen-produts.list li.brand-table div.caption {
  text-align: right;
  margin-bottom: 20px;
}
.catalog_page .perechen .perechen-produts.list li.brand-table div.caption:after {
  content: " ";
  display: table;
  clear: both;
}
.catalog_page .perechen .perechen-produts.list li.brand-table div.caption .brand-name {
  width: 15%;
  float: left;
  font-size: 18px;
  line-height: 22px;
  padding-right: 15px;
  color: #95c600;
  font-weight: bold;
}
.catalog_page .perechen .perechen-produts.list li.brand-table div.caption hr.brand-hr {
  display: inline-block;
  margin: 0;
  width: 85%;
  line-height: 22px;
  background-color: #95c600;
  text-align: right;
}
