@import (reference) "../../../../variables";
@import (reference) "../../../../styles";

.zones {
  > h4 {
    cursor: pointer;
    text-transform: uppercase;
    span {
      border-bottom: 1px dashed @brand-black;
      padding-right: 0 !important;
      margin-left: 0 !important;
    }
    &:hover {
      color: @brand-green;
    }
  }
  .pres-material {
    a {
      border-bottom: 1px dashed @brand-black;
      &:hover {
        color: @brand-green !important;
      }
    }
  }
}