.sections-news {
  border-left: 1px solid #95c600;
  padding-right: 15px;
}
.sections-news .more,
.sections-news .title {
  line-height: 33px;
  height: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sections-news .more a,
.sections-news .title a {
  color: #95c600;
  text-decoration: underline;
  font-weight: normal;
}
.sections-news .news-item {
  margin-bottom: 10px;
  font-size: 14px;
}
.sections-news .news-item:hover a,
.sections-news .news-item:active a {
  text-decoration: underline;
}
.sections-news .news-item .date * {
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 12px;
}
