@import (reference) "../../../../variables";
@import (reference) "../../../../styles";

.news-aside {
  list-style: none;
  padding: 0;
  li {
    font-family: @font-family-serif;
    font-size: @font-size-base;
    margin-bottom: 30px;
    .date {
      sub {
        text-transform: uppercase;
        font-weight: 700 !important;
      }
    }
    p {
      font-weight: 300;
    }
    &:hover {
      a {
        color: @brand-green;
        text-decoration: underline !important;
      }
      color: @brand-green;
    }
  }
}
.aside {
  .more,
  .title {
    line-height: (@headings-line-height * @font-size-h2);
    height: (@headings-line-height * @font-size-h2);
    margin-top: (@line-height-computed / 2);
    margin-bottom: (@line-height-computed / 2);
    display: block;
    a {
      color: @brand-green !important;
      text-decoration: underline;
      font-weight: normal;
    }
  }
  .title {
    float: left;
  }
  .more {
    float: right;
    &:after {
      content: "";
      position: relative;
      display: block;
      clear: both;
    }
  }
}