@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.stock-preview a.stock-preview-item {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
}
.stock-preview a.stock-preview-item .date_small {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 12px;
}
.stock-preview a.stock-preview-item:hover {
  text-decoration: underline;
  color: #95c600;
}
