@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.bx-filter-parameters-box-container:before,
.bx-filter-parameters-box-container:after {
  content: " ";
  display: table;
}
.bx-filter-parameters-box-container:after {
  clear: both;
}
.bx-filter-parameters-box-container {
  margin-left: -15px;
  margin-right: -15px;
}
.bx-filter-parameters-box-container .checkbox {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  .bx-filter-parameters-box-container .checkbox {
    float: left;
    width: 50%;
  }
}
.bx-filter-parameters-box-container .checkbox + .checkbox {
  margin-top: 0;
}
div.sections .b-catalog-main__list .b-catalog-main__item {
  width: 11rem;
  height: 11rem;
  padding: 1rem;
  text-align: center;
}
div.sections .b-catalog-main__list .b-catalog-main__item.active {
  border: 1px solid #95c600;
  border-radius: 2rem;
}
div.sections .b-catalog-main__list .b-catalog-main__item .b-catalog-main__link {
  margin-top: 50%;
  transform: translateY(-50%);
}
div.sections .b-catalog-main__list .b-catalog-main__item img {
  height: 4rem;
}
div.sections .d-1 {
  margin-top: 20px;
}
div.sections .depth-1 {
  margin-bottom: 10px;
  vertical-align: middle;
}
div.sections .depth-1 [id^="bx_cat_"] {
  top: -95px;
  display: block;
  position: relative;
  visibility: hidden;
}
div.sections .depth-1 [class^="icon-"],
div.sections .depth-1 [class*=" icon-"] {
  font-size: 24px;
  color: #95c600;
}
div.sections .depth-1 [class^="icon-"]:before,
div.sections .depth-1 [class*=" icon-"]:before {
  margin-left: 0;
}
div.sections .depth-1 [class^="icon-"].icon-santekhnika:before,
div.sections .depth-1 [class*=" icon-"].icon-santekhnika:before {
  margin-left: -10px !important;
}
div.sections .depth-1 .title {
  font-size: 24px;
  padding-left: 24px;
  text-decoration: none;
  font-weight: 500;
}
div.sections .depth-1 .price-list {
  line-height: 33px;
  height: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #95c600;
  display: block;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
}
div.sections .depth-1 .price-list .fa {
  margin-right: 5px;
  font-size: 18px;
}
div.sections .depth-1 .price-list a {
  color: #2c2432;
  text-decoration: none;
  margin-right: 5px;
}
div.sections .depth-1 .price-list a > span {
  text-decoration: underline;
}
div.sections .depth-2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.sections .depth-2 .title {
  text-decoration: underline;
  font-weight: 500;
}
div.sections .depth-3 {
  font-size: 14px;
}
div.sections .depth-3 .title {
  text-decoration: none;
  font-weight: 300;
  overflow-x: hidden;
}
div.sections .depth-3 .title a {
  background-color: white;
  padding-right: 10px;
}
div.sections .depth-3 .title:after {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}
div.sections .depth-3 span.brand:not(.hidden) {
  text-decoration: none;
  font-weight: 300;
}
div.sections .depth-3 span.brand:not(.hidden) + span.brand:not(.hidden):before {
  content: "|";
  display: inline-block;
  position: relative;
  color: #95c600;
  font-weight: 700;
  padding: 0 6px 0 3px;
  font-size: 14px;
  line-height: 12px;
  height: 12px;
}
