@import (reference) "variables";

.fixed-block {
  display: block;
  &.sticky {
    position: fixed;
    top: 0;
  }
}
#scroll-up {
  visibility: hidden;
  display: block;
  position: fixed;
  font-size: 20px;
  border: 1px solid @brand-green;
  border-radius: 5px;
  padding: 4px 8px;
  left: (@grid-gutter-width / 2);
  bottom: (@grid-gutter-width / 2);
  background-color: white;
  cursor: pointer;
  color: @brand-green;
}

#header-block {
  overflow: hidden;
  &.sticky {
    z-index: 999;
    background-color: white;
    width: 100%;
    +.row {
      margin-top: 95px;
    }
  }
}

.row {
  &.vertical-align {
    display: flex;
    @media (max-width: 767px) {
      display: block;
    }
    flex-direction: row;
    > [class^="col-"],
    > [class*=" col-"] {
      display: flex;
      align-items: center;
    }
  }
}

.breadcrumbs {
  span:last-child {
    color: @brand-green;
  }
}