.left-menu a {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.left-menu a small,
.left-menu a .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
.left-menu a {
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-menu a small,
.left-menu a .small {
  font-size: 75%;
}
.left-menu a {
  font-size: 14px;
}
.left-menu {
  text-align: center;
}
.aside {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.left-menu a {
  font-family: "Roboto Condensed", sans-serif;
}
body.loading {
  cursor: wait;
}
body.loading * {
  cursor: wait !important;
}
.fixed-block {
  display: block;
}
.fixed-block.sticky {
  position: fixed;
  top: 0;
}
.old.currency {
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #95c600;
  padding: 5px;
  line-height: 18px;
  vertical-align: middle;
  height: 28px;
  text-decoration: line-through;
  color: #aaa;
}
.color-green {
  color: #95c600 !important;
}
.color-black {
  color: #2c2432 !important;
}
.quantity {
  font-size: 12px;
}
.quantity-success {
  color: #95c600;
}
.quantity-fail {
  color: #d9534f;
}
.dotted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.dotted span {
  z-index: 1;
  background-color: #fff;
  padding-right: 3px;
}
.dotted span:last-child {
  padding-right: 0;
  padding-left: 3px;
}
.dotted:before {
  position: absolute;
  width: 0;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}
#scroll-up {
  visibility: hidden;
  display: block;
  position: fixed;
  font-size: 20px;
  border: 1px solid #95c600;
  border-radius: 5px;
  padding: 4px 8px;
  left: 15px;
  bottom: 15px;
  background-color: white;
  cursor: pointer;
  color: #95c600;
}
#header-block.sticky {
  z-index: 999;
  background-color: white;
  width: 100%;
}
#header-block.sticky + .row {
  margin-top: 95px;
}
.row.vertical-align {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .row.vertical-align {
    display: block;
  }
}
.row.vertical-align > [class^="col-"],
.row.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}
.collapse.in + a[data-toggle="collapse"] {
  display: none;
}
a[data-toggle="collapse"] {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px dashed #2c2432;
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  float: right;
}
a[data-toggle="collapse"]:after {
  content: "";
  position: relative;
  display: block;
}
.controls .next,
.controls .prev {
  display: inline-block;
  font-size: 24px;
}
.controls .next a,
.controls .prev a {
  color: #82ad00;
}
.aside {
  background: white;
  border-left: 1px solid #95c600;
  min-height: calc(100vh - 215px) !important;
}
.left-menu {
  padding-left: 0;
  list-style: none;
}
.left-menu a {
  color: #95c600;
  text-transform: uppercase;
}
.left-menu.sticky {
  margin-left: 10px;
}
.breadcrumbs span:last-child {
  color: #95c600;
}
footer {
  margin-top: 20px;
}
