@import "../../../../../../../variables";

.contacts-list {
  li {
    margin-bottom: 30px;
    &.active {
      a {
        color: @brand-green !important;
      }
    }
    .fa {
      margin-right: 10px;
      font-size: @font-size-h4;
    }
  }
}