@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.timeline {
  width: 70%;
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc(100% - 65px);
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 25px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #95c600 !important;
}
.timeline-badge.success {
  background-color: #5cb85c !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
.history .money-:after {
  padding-left: 5px;
  content: "\20bd";
}
.history .money-rub:after {
  padding-left: 5px;
  content: "\20bd";
}
.history .money-eur:before {
  padding-right: 5px;
  content: "€";
}
.history .order-item-list-wrapper [data-item-group] .header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.history .order-item-list-wrapper [data-item-group] .pre-table-header {
  position: relative;
  padding: 10px 0;
  background-color: #f9f9f9;
}
.history .order-item-list-wrapper [data-item-group] .pre-table-header .category-name {
  padding-left: 20px;
  width: 100%;
}
.history .order-item-list-wrapper [data-item-group] .pre-table-header .category-name [name="item_group"] {
  border: none;
}
.history .order-item-list-wrapper [data-item-group] [data-table] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 12px;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr th {
  font-size: .9em;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td {
  vertical-align: middle;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:before,
.history .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:after {
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:after {
  margin-top: -3px;
  margin-left: -5px;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td.order-icon {
  font-size: .9rem;
  cursor: pointer;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount {
  color: #95c600;
  top: -0.7em;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount:before {
  content: "+";
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount + sub {
  left: -1.55em;
  bottom: -0.45em;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td sub.negative_amount {
  color: #d9534f;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr td sub.negative_amount:before {
  content: "\2013";
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr.selected {
  background-color: #eeeeee;
  color: #2c2432;
}
.history .order-item-list-wrapper [data-item-group] [data-table] tr a {
  color: #95c600;
}
