@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -21px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: " ";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"][readonly] + label,
.checkbox input[type="radio"][readonly] + label,
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"][readonly] + label::before,
.checkbox input[type="radio"][readonly] + label::before,
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #95c600;
  border-color: #95c600;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #95c600;
  border-color: #95c600;
}
.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"][readonly] + label,
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"][readonly] + label::before,
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #95c600;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #95c600;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #95c600;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}
.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
.checkbox-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
[data-store] .money-:after {
  padding-left: 5px;
  content: "\20bd";
}
[data-store] .money-rub:after {
  padding-left: 5px;
  content: "\20bd";
}
[data-store] .money-eur:before {
  padding-right: 5px;
  content: "€";
}
.order-line .title input {
  margin: 0;
  margin-right: 5px;
  display: inline-flex;
}
.order-line .money-:after {
  padding-left: 5px;
  content: "\20bd";
}
.order-line .money-rub:after {
  padding-left: 5px;
  content: "\20bd";
}
.order-line .money-eur:before {
  padding-right: 5px;
  content: "€";
}
.order-line .order-item-list-wrapper [data-item-group] {
  padding-left: 40px;
}
.order-line .order-item-list-wrapper [data-item-group] .header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header {
  position: relative;
  padding: 10px 0;
  background-color: #f9f9f9;
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header .category-name {
  padding-left: 20px;
  width: 100%;
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header .category-name [name="item_group"] {
  border: none;
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header:before {
  content: "";
  position: absolute;
  float: left;
  height: 0;
  width: 35px;
  left: -35px;
  top: 50%;
  border-bottom: 1px solid rgba(44, 36, 50, 0.7);
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header:after {
  content: "\f10c";
  position: absolute;
  float: left;
  left: -40px;
  font: normal normal normal 14px/1 FontAwesome;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(149, 198, 0, 0.7);
  background-color: white;
  z-index: 1;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 12px;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr th {
  font-size: .9em;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td {
  vertical-align: middle;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:before,
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:after {
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:after {
  margin-top: -3px;
  margin-left: -5px;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td.order-icon {
  font-size: .9rem;
  cursor: pointer;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount {
  color: #95c600;
  top: -0.7em;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount:before {
  content: "+";
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount + sub {
  left: -1.55em;
  bottom: -0.45em;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sub.negative_amount {
  color: #d9534f;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sub.negative_amount:before {
  content: "\2013";
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr.selected {
  background-color: #eeeeee;
  color: #2c2432;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr a {
  color: #95c600;
}
.order-line .order-item-list-wrapper [data-item-group]:before {
  content: "";
  display: inline-block;
  float: left;
  position: absolute;
  height: 100%;
  width: 0;
  border-left: 1px solid rgba(44, 36, 50, 0.7);
  top: -15px;
  left: 20px;
}
[data-delivery-type] {
  display: none;
}
[data-delivery-type].active {
  display: block;
}
form {
  text-align: left;
}
form .spacer .form-group {
  margin-bottom: 0;
}
form fieldset {
  width: 100%;
  position: relative;
}
form .help-block {
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 0;
}
form .help-block ul {
  margin-bottom: 0;
}
form .suggestions-wrapper {
  display: block;
}
