@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.order-line .title input {
  margin: 0;
  margin-right: 5px;
  display: inline-flex;
}
.order-line .money:after {
  padding-left: 5px;
  content: "\20bd";
}
.order-line .money-rub:after {
  padding-left: 5px;
  content: "\20bd";
}
.order-line .money-eur:before {
  padding-right: 5px;
  content: "€";
}
.order-line .order-item-list-wrapper [data-item-group] {
  padding-left: 40px;
}
.order-line .order-item-list-wrapper [data-item-group] .header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header {
  position: relative;
  padding: 10px 0;
  background-color: #f9f9f9;
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header .category-name {
  padding-left: 20px;
  width: 100%;
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header .category-name [name="item_group"] {
  border: none;
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header:before {
  content: "";
  position: absolute;
  float: left;
  height: 0;
  width: 35px;
  left: -35px;
  top: 50%;
  border-bottom: 1px solid rgba(44, 36, 50, 0.7);
}
.order-line .order-item-list-wrapper [data-item-group] .pre-table-header:after {
  content: "\f10c";
  position: absolute;
  float: left;
  left: -40px;
  font: normal normal normal 14px/1 FontAwesome;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(149, 198, 0, 0.7);
  background-color: white;
  z-index: 1;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 12px;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr th {
  font-size: .9em;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td {
  vertical-align: middle;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:before,
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:after {
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td.select-checkbox:after {
  margin-top: -3px;
  margin-left: -5px;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td.order-icon {
  font-size: .9rem;
  cursor: pointer;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount {
  color: #95c600;
  top: -0.7em;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount:before {
  content: "+";
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sup.prev_pos_amount + sub {
  left: -1.55em;
  bottom: -0.45em;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sub.negative_amount {
  color: #d9534f;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr td sub.negative_amount:before {
  content: "\2013";
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr.selected {
  background-color: #eeeeee;
  color: #2c2432;
}
.order-line .order-item-list-wrapper [data-item-group] [data-table] tr a {
  color: #95c600;
}
.order-line .order-item-list-wrapper [data-item-group]:before {
  content: "";
  display: inline-block;
  float: left;
  position: absolute;
  height: 100%;
  width: 0;
  border-left: 1px solid rgba(44, 36, 50, 0.7);
  top: -15px;
  left: 20px;
}
[data-delivery-type] {
  display: none;
}
[data-delivery-type].active {
  display: block;
}
form {
  text-align: left;
}
form .spacer .form-group {
  margin-bottom: 0;
}
form .help-block {
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 0;
}
form .help-block ul {
  margin-bottom: 0;
}
form .suggestions-wrapper {
  display: block;
}
