* {
  outline: none;
}
body.index-page {
  overflow: visible !important;
}
.b-container {
  margin: 0 auto;
  display: block;
  max-width: 1440px;
}
.b-wrapper {
  font-size: 0;
}
.b-main {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.b-aside {
  display: inline-block;
  vertical-align: top;
  width: 280px;
}
.sub-header__line {
  background-color: white;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #eee;
  padding: 0 3rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
}
.sub-header__line a {
  transition: all .3s linear;
  margin-left: 3rem !important;
  color: #2c2432;
}
.sub-header__line a:hover {
  color: #95c600 !important;
  text-decoration: none !important;
}
.perspective {
  perspective: 320px;
  perspective-origin: left center;
  position: relative;
  z-index: 10;
  height: 100%;
  overflow: hidden;
  transition-duration: .5s;
  backface-visibility: hidden;
}
.perspective.active .perspective-layout {
  border: 1px solid #ccc;
  opacity: .75;
  transform-origin: left center;
  transform: translateZ(-160px) translateX(-21.875%) rotateY(45deg);
}
.perspective.active .hamburger-mobile__close {
  transform: translateX(-100%) translateZ(0);
}
.perspective.active .hamburger-mobile__content {
  transform: translateX(-100%) translateZ(0);
}
.perspective .perspective-layout {
  background-color: white;
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
  backface-visibility: hidden;
  transition: .5s linear;
  transform: translateZ(0) translateX(0%) rotateY(0deg);
  opacity: 1;
}
.perspective .perspective-layout .b-container {
  transform: translateZ(0);
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  height: 100vh;
}
.perspective .hamburger-mobile__close {
  position: absolute;
  font-size: 22px;
  top: 25px;
  left: 100%;
  right: -45px;
  transform-origin: right center;
  transform-style: preserve-3d;
  transition: transform .5s linear;
  z-index: 9;
}
.perspective .hamburger-mobile__content {
  position: absolute;
  top: 0;
  left: 100%;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  backface-visibility: hidden;
  z-index: 8;
}
.perspective .hamburger-mobile__content .hamburger-mobile {
  top: 50%;
  transform: translateY(-55%);
  position: relative;
  display: block;
}
.perspective .hamburger-mobile__content .hamburger-mobile__scroll {
  margin-right: 7%;
  margin-left: 26%;
  padding-left: 15%;
  padding-top: 10%;
  display: flex;
}
.header-sticky-wrapper {
  height: 8rem !important;
}
.header-sticky-wrapper.is-sticky {
  height: 5rem !important;
}
.b-header {
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  transition: all .3s linear;
  border-bottom-color: white;
  align-items: center;
  height: 8rem;
}
.is-sticky .b-header {
  border-bottom: 1px solid #eee;
  transition: all .3s linear;
  height: 5rem;
}
.b-header__main {
  padding-right: 50px;
  width: 100%;
}
.b-header__logo {
  width: 16rem;
  height: 100%;
  padding: .5rem 3rem;
  display: inline-flex;
  vertical-align: middle;
  transition: all .3s linear;
}
.b-header__logo img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  transition: all .3s linear;
}
.is-sticky .b-header__logo {
  width: 8rem;
  padding: .5rem 1rem;
}
.b-header__panel {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.b-header__lk,
.b-header__search,
.b-header__cart,
.header-mobile {
  width: 8.4rem;
  height: 100%;
  font-size: 2rem;
  transition: 0.3s;
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.is-sticky .b-header__lk,
.is-sticky .b-header__search,
.is-sticky .b-header__cart,
.is-sticky .header-mobile {
  width: 5rem;
}
.b-header__lk:hover,
.b-header__search:hover,
.b-header__cart:hover,
.header-mobile:hover,
.b-header__lk:focus,
.b-header__search:focus,
.b-header__cart:focus,
.header-mobile:focus,
.b-header__lk:active,
.b-header__search:active,
.b-header__cart:active,
.header-mobile:active {
  text-decoration: none;
}
.header-search-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(44, 36, 50, 0.9);
  transition: opacity .3s linear;
  z-index: -1;
}
.header-search-overlay.show {
  display: block;
  opacity: 1;
  z-index: 1000;
}
.header-search-overlay .close-overlay {
  position: absolute;
  top: 4rem;
  right: 4rem;
  transform: translate(50%, -50%);
  font-size: 3rem;
}
.header-search-overlay form {
  height: 100%;
  display: block;
}
.header-search-overlay .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header-search-overlay .search-container .b-catalog-main__search input {
  height: 5rem;
  width: 50vw;
  border-radius: 0;
  padding-left: 4rem;
}
.header-search-overlay .search-container .b-catalog-main__search input::-webkit-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: rgba(44, 36, 50, 0.4);
}
.header-search-overlay .search-container button[type="submit"] {
  font-size: 2rem;
  margin-left: 1rem;
  height: 5rem;
  font-family: "Roboto Condensed", sans-serif;
}
.header-search-overlay .search-container .b-catalog-main__icon {
  transform: translateY(-50%);
  color: rgba(44, 36, 50, 0.4);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 4rem;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  height: auto;
}
.b-header__list {
  padding-left: 0;
  display: flex;
  vertical-align: middle;
  margin-bottom: 0;
  justify-content: space-around;
}
.b-header__item {
  list-style: none;
  display: inline-flex;
  vertical-align: top;
  padding-right: 20px;
}
.b-header__item:last-child {
  padding-right: 0;
}
.b-header__link {
  font-size: 1.4rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  color: #2c2432;
  transition: 0.3s;
  font-weight: 700;
}
.b-header__link:hover {
  color: #71b842;
  text-decoration: none;
}
.b-slider {
  margin-bottom: 2rem;
}
.b-slider .slick-dots {
  padding-left: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.b-slider .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 7px;
}
.b-slider .slick-dots li:last-child {
  margin-right: 0;
}
.b-slider .slick-dots li button {
  font-size: 0;
  padding: 0;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  background: #71b842;
  border: 1px solid #71b842;
}
.b-slider .slick-dots .slick-active button {
  background: #5b7a00;
  border-color: #5b7a00;
}
.b-slider .slick-arrow {
  font-size: 0;
  padding: 0;
  background: none;
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  width: 53px;
}
.slick-next {
  right: 0px;
}
.b-slider .slick-prev {
  left: 0px;
}
.b-slider .slick-next:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 7px solid #808285;
  border-top: 7px solid #808285;
  border-bottom: none;
  border-left: none;
  right: 17px;
}
.b-slider .slick-prev:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-left: 7px solid #808285;
  border-top: 7px solid #808285;
  border-bottom: none;
  border-right: none;
  left: 17px;
}
.b-slider .slick-arrow:before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.b-slider__content {
  padding: 0 50px;
  position: relative;
}
.b-slider__content--main {
  padding: 0;
}
.b-slider__content .slick-list {
  overflow: hidden;
}
.b-slider__item {
  display: inline-block;
  vertical-align: top;
  padding: 0 3px;
  height: 170px;
  overflow: hidden;
}
.b-slider__item--main img {
  width: auto;
  height: 100%;
}
.b-slider__item--main {
  padding: 0;
  height: 300px;
}
.b-slider__item--main img {
  width: 100%;
  height: auto;
}
.b-catalog-main__title {
  margin-bottom: 40px;
  height: 3rem;
  line-height: 3rem;
}
.b-catalog-main__list {
  padding-left: 0;
  font-size: 0;
  margin-bottom: 0;
}
.b-catalog-main__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: calc(33.33333333%);
  width: -webkit-calc(33.33333333%);
  margin-bottom: 30px;
}
.b-catalog-main__link {
  color: #2c2432;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  display: inline-block;
  text-align: center;
}
.b-catalog-main__link:hover {
  text-decoration: none;
  color: #2c2432;
}
.b-catalog-main__link img {
  display: block;
  height: 110px;
  width: auto;
  margin: 0 auto 15px;
}
.b-catalog-main__buttons {
  width: 280px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.b-catalog-main__button {
  font-size: 1.3rem;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 3rem;
  color: #fff;
  transition: 0.3s;
  border: 1px solid #71b842;
  border-radius: 40px;
  display: inline-block;
  vertical-align: top;
  height: 3rem;
  padding: 0;
  text-align: center;
  width: calc(43%);
  width: -webkit-calc(43%);
  margin-right: 7px;
  background: #71b842;
}
.b-catalog-main__buttons:after {
  content: '';
  position: relative;
  clear: both;
  height: 0;
  font-size: 0;
}
.b-catalog-main__button:hover {
  background: #fff;
  border-color: #2c2432;
  color: #2c2432;
  text-decoration: none;
}
.b-catalog-main__button:last-child {
  margin-right: 0;
  margin-left: 7px;
}
.b-catalog-main__search {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.b-catalog-main__icon {
  display: block;
  height: 24px;
  margin-left: .5rem;
  position: absolute;
  top: 0;
  width: 24px;
  padding-top: 2px;
  text-align: center;
  transform: scale(0.8);
}
.b-catalog-main__icon img {
  width: 100%;
  height: auto;
  opacity: .4;
}
.b-catalog-main__input {
  box-shadow: none;
  text-overflow: ellipsis;
  border-radius: 40px;
  -webkit-appearance: none;
  border: 1px solid rgba(44, 36, 50, 0.4);
  padding-left: 30px;
  padding-right: 15px;
  height: 24px;
  width: 100%;
  font-size: 1.4rem;
  min-width: 30rem;
}
.b-catalog-main__input:focus,
.b-catalog-main__input:active {
  border-color: #2c2432;
}
.b-catalog-main__input:focus + .b-catalog-main__icon img,
.b-catalog-main__input:active + .b-catalog-main__icon img {
  opacity: 1;
}
.b-contact-main {
  margin-bottom: 50px;
}
.b-contact-main__list {
  padding-left: 0;
  margin-bottom: 0;
}
.b-contact-main__item {
  margin-bottom: 25px;
  list-style: none;
}
.b-contact-main__item:last-child {
  margin-bottom: 0;
}
.b-contact-main__item--no-margin {
  margin-bottom: 0;
}
.b-contact-main__item a {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 14px !important;
  line-height: 20px;
  color: #2c2432;
  transition: 0.3s;
  text-decoration: underline;
  margin: 0!important;
}
.b-contact-main__item a:before {
  content: none !important;
}
.b-contact-main__item a:hover {
  color: #2c2432 !important;
  text-decoration: none !important;
}
.b-contact-main__item a[href^="mailto:"]:hover {
  color: #2c2432 !important;
  text-decoration: none !important;
}
.b-news-main__list {
  padding-left: 0;
}
.b-news-main__item {
  list-style: none;
  border-bottom: 1px solid #2c2432;
  padding-bottom: 14px;
  padding-top: 26px;
}
.b-news-main__item:last-child {
  border-bottom: none;
}
.b-news-main__item:first-child {
  padding-top: 0;
}
.b-news-main__link {
  display: block;
  color: #2c2432;
}
.b-news-main__link:hover {
  color: #2c2432;
  text-decoration: none;
}
.b-news-main__link h3 {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.b-news-main__link span,
.b-news-main__link p {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  display: block;
}
.b-news-main__link span {
  font-size: 12px;
  line-height: 19px;
  color: #848484;
}
.b-news-main__link p {
  font-size: 14px;
  line-height: 17px;
}
.b-history p {
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 20px;
}
.b-brands-main {
  margin-bottom: 50px;
}
.b-brands-main__list {
  padding-left: 0;
  margin: 0 -10px;
  font-size: 0;
}
.b-brands-main__item {
  list-style: none;
  width: calc(16.66666667%);
  width: -webkit-calc(16.66666667%);
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
.b-brands-main__link {
  border-radius: 10px;
  border: 1px solid #95989a;
  display: block;
  height: 82px;
  position: relative;
}
.b-brands-main__link img {
  width: 90%;
  height: auto;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  left: 0;
  margin: auto;
  bottom: 0;
}
.b-brands-main__item:last-child {
  padding: 0;
}
.b-brands-main__item:last-child .b-brands-main__link {
  font-size: 16px;
  line-height: 22px;
  border: none;
  height: auto;
  margin-top: 28px;
  color: #2c2432;
  padding-left: 0;
  text-align: center;
}
.b-title-link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #71b842;
  margin-bottom: 25px;
  display: inline-block;
}
.b-title-link--catalog {
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  width: 85px;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.b-footer {
  padding-bottom: 50px;
  padding-top: 75px;
}
.b-footer__copyright {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #2c2432;
  display: inline-block;
  padding-top: 7px;
}
.b-footer__copyright a {
  font-size: 16px;
  line-height: 20px;
  color: #2c2432;
  text-decoration: underline;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 60px;
}
.b-footer__copyright a:hover {
  text-decoration: none;
  color: #2c2432;
}
.b-social {
  padding-left: 0;
  font-size: 0;
  float: right;
  margin-bottom: 0;
}
.b-social__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}
.b-social__item:last-child {
  margin-right: 0;
}
.b-social__link {
  border-radius: 100%;
  display: block;
  background: #71b842;
  width: 36px;
  height: 36px;
  text-align: center;
}
.m_logo,
.footer-mobile__right {
  display: none;
}
@media (max-width: 1024px) {
  .b-header__link {
    font-size: 14px;
    line-height: 16px;
  }
  .b-main {
    width: calc(-100%);
    width: -webkit-calc(-100%);
    padding-right: 40px;
  }
  .b-aside {
    width: 200px;
  }
  .b-footer__copyright {
    font-size: 10px;
    line-height: 12px;
    padding-top: 12px;
  }
  .b-footer__copyright a {
    font-size: 18px;
    line-height: 20px;
  }
  .b-contact-main__item a {
    font-size: 14px !important;
    font-size: 16px;
  }
  .b-title-link {
    font-size: 18px;
    line-height: 20px;
  }
  .b-news-main__link h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .b-news-main__link span,
  .b-news-main__link p {
    font-size: 12px;
    line-height: 14px;
  }
  .b-catalog-main__link {
    font-size: 16px;
    line-height: 18px;
  }
  .b-catalog-main__link img {
    height: 75px;
  }
  .b-catalog-main__button {
    height: 38px;
    padding: 0 10px;
    line-height: 36px;
  }
  .b-brands-main__item {
    width: calc(25%);
    width: -webkit-calc(25%);
  }
  .b-brands-main__item:last-child .b-brands-main__link {
    font-size: 16px;
    line-height: 18px;
  }
  .b-history p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
  .hamburger-mobile__close {
    display: block;
  }
  .b-container {
    height: 100%;
    position: relative;
    padding-bottom: 122px;
  }
  .b-header__logo {
    display: none;
  }
  .b-header {
    margin-bottom: 0;
    padding-top: 0;
  }
  .b-header__list {
    display: none;
  }
  .b-header__lk {
    display: none;
  }
  footer.b-footer {
    position: absolute !important;
    padding: 0 15px 25px !important;
    bottom: 0;
    left: 0;
  }
  .b-wrapper {
    display: none;
  }
  .b-social {
    display: none;
  }
  .b-footer__copyright {
    display: none;
  }
  .m_logo,
  .footer-mobile__right {
    display: inline-block;
  }
  .address {
    position: static !important;
  }
}
