@import "../../../../../templates/hogart/variables";
@import "../../../../../templates/hogart/styles";

.sections-list {
  a {
    &:extend(.h5 all);
    display: block;
    text-transform: uppercase;
    text-decoration: underline !important;
    &:hover {
      color: @brand-green;
    }
  }
}