@media print {
  .btn-more > .caret,
  .dropup > .btn-more > .caret {
    border-top-color: #000 !important;
  }
}
.complex-page-all-href a,
.side_href div a,
.left-menu li a,
.sections-list a {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.complex-page-all-href a small,
.complex-page-all-href a .small,
.side_href div a small,
.side_href div a .small,
.left-menu li a small,
.left-menu li a .small,
.sections-list a small,
.sections-list a .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
.complex-page-all-href a,
.side_href div a,
.left-menu li a,
.sections-list a {
  margin-top: 10px;
  margin-bottom: 10px;
}
.complex-page-all-href a small,
.complex-page-all-href a .small,
.side_href div a small,
.side_href div a .small,
.left-menu li a small,
.left-menu li a .small,
.sections-list a small,
.sections-list a .small {
  font-size: 75%;
}
.complex-page-all-href a,
.side_href div a,
.left-menu li a,
.sections-list a {
  font-size: 14px;
}
.left-menu {
  text-align: center;
}
.aside {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.input-group-lg > .input-group-btn > .btn-more {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 4px;
}
select.input-group-lg > .input-group-btn > .btn-more {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .input-group-btn > .btn-more,
select[multiple].input-group-lg > .input-group-btn > .btn-more {
  height: auto;
}
.input-group-sm > .input-group-btn > .btn-more {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}
select.input-group-sm > .input-group-btn > .btn-more {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .input-group-btn > .btn-more,
select[multiple].input-group-sm > .input-group-btn > .btn-more {
  height: auto;
}
.input-group-btn:first-child > .btn-more,
.input-group-btn:first-child > .btn-group > .btn-more,
.input-group-btn:last-child > .btn-more:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn-more {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-btn:last-child > .btn-more,
.input-group-btn:last-child > .btn-group > .btn-more,
.input-group-btn:first-child > .btn-more:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn-more {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-btn > .btn-more {
  position: relative;
}
.input-group-btn > .btn-more + .btn-more {
  margin-left: -1px;
}
.input-group-btn > .btn-more:hover,
.input-group-btn > .btn-more:focus,
.input-group-btn > .btn-more:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn-more {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn-more {
  z-index: 2;
  margin-left: -1px;
}
.btn-group > .btn-more,
.btn-group-vertical > .btn-more {
  position: relative;
  float: left;
}
.btn-group > .btn-more:hover,
.btn-group-vertical > .btn-more:hover,
.btn-group > .btn-more:focus,
.btn-group-vertical > .btn-more:focus,
.btn-group > .btn-more:active,
.btn-group-vertical > .btn-more:active,
.btn-group > .btn-more.active,
.btn-group-vertical > .btn-more.active {
  z-index: 2;
}
.btn-group .btn-more + .btn-more,
.btn-group .btn-more + .btn-group,
.btn-group .btn-group + .btn-more {
  margin-left: -1px;
}
.btn-toolbar .btn-more {
  float: left;
}
.btn-toolbar > .btn-more {
  margin-left: 5px;
}
.btn-group > .btn-more:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn-more:first-child {
  margin-left: 0;
}
.btn-group > .btn-more:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-more:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn-more {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn-more:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn-more:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-more + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-more .caret {
  margin-left: 0;
}
.btn-group-vertical > .btn-more,
.btn-group-vertical > .btn-group > .btn-more {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.btn-group-vertical > .btn-group > .btn-more {
  float: none;
}
.btn-group-vertical > .btn-more + .btn-more,
.btn-group-vertical > .btn-more + .btn-group,
.btn-group-vertical > .btn-group + .btn-more {
  margin-top: -1px;
  margin-left: 0;
}
.btn-group-vertical > .btn-more:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group-vertical > .btn-more:first-child:not(:last-child) {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn-more:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn-more {
  border-radius: 0;
}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn-more:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn-more:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.btn-group-justified > .btn-more {
  float: none;
  display: table-cell;
  width: 1%;
}
.btn-group-justified > .btn-group .btn-more {
  width: 100%;
}
[data-toggle="buttons"] > .btn-more input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn-more input[type="radio"],
[data-toggle="buttons"] > .btn-more input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn-more input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-more {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-more:focus,
.btn-more:active:focus,
.btn-more.active:focus,
.btn-more.focus,
.btn-more:active.focus,
.btn-more.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-more:hover,
.btn-more:focus,
.btn-more.focus {
  color: #333;
  text-decoration: none;
}
.btn-more:active,
.btn-more.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-more.disabled,
.btn-more[disabled],
fieldset[disabled] .btn-more {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn-more.disabled,
fieldset[disabled] a.btn-more {
  pointer-events: none;
}
.btn-more .label {
  position: relative;
  top: -1px;
}
ul[data-depth="1"] {
  display: flex;
  justify-content: space-between;
}
ul[data-depth="1"] li.item {
  display: inline-block;
}
ul[data-depth="1"] li.item a {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: #000;
  text-decoration: underline;
}
ul[data-depth="1"] li.item:hover > a,
ul[data-depth="1"] ul[data-depth] li.item:hover > a {
  color: #95c600 !important;
}
ul[data-depth="1"] li.item:hover ul[data-depth],
ul[data-depth="1"] ul[data-depth] li.item:hover ul[data-depth] {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 0s;
}
ul[data-depth="1"] ul[data-depth] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateZ(0) translateY(10%);
  transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
  list-style: none;
  padding-left: 0;
  background-color: #2c2432;
  margin-left: -20px;
  z-index: 10;
}
ul[data-depth="1"] ul[data-depth] li.item {
  display: block;
  text-align: center;
}
ul[data-depth="1"] ul[data-depth] li.item a {
  padding: 0 20px;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.complex-page-all-href a,
.side_href div a,
.left-menu li a,
.sections-list a {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 10px;
}
.close {
  opacity: 0.8 !important;
}
[data-notify="container"] {
  z-index: 3001 !important;
}
::-webkit-input-placeholder {
  color: #dddddd;
  font-style: italic;
  font-size: 12px;
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
::-webkit-input-placeholder::-moz-placeholder {
  color: #999;
  opacity: 1;
}
::-webkit-input-placeholder:-ms-input-placeholder {
  color: #999;
}
::-webkit-input-placeholder::-webkit-input-placeholder {
  color: #999;
}
:focus::-webkit-input-placeholder {
  text-indent: 100%;
  transition: text-indent 0.3s ease;
}
body.loading {
  cursor: wait;
}
body.loading * {
  cursor: wait !important;
}
.fixed-block {
  display: block;
}
.fixed-block.sticky {
  position: fixed;
  top: 0;
}
.old.currency {
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #95c600;
  padding: 5px;
  line-height: 18px;
  vertical-align: middle;
  height: 28px;
  text-decoration: line-through;
  color: #aaa;
}
.color-green {
  color: #95c600 !important;
}
.color-black {
  color: #2c2432 !important;
}
.color-primary {
  color: #95c600 !important;
}
.color-warning {
  color: #f0ad4e !important;
}
.color-danger {
  color: #d9534f !important;
}
.color-info {
  color: #5bc0de !important;
}
.quantity {
  font-size: 12px;
}
.quantity-success {
  color: #95c600;
}
.quantity-fail {
  color: #d9534f;
}
.dotted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.dotted span {
  z-index: 1;
  background-color: #fff;
  padding-right: 3px;
}
.dotted span:last-child {
  padding-right: 0;
  padding-left: 3px;
}
.dotted:before {
  position: absolute;
  width: 0;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}
#scroll-up {
  visibility: hidden;
  display: block;
  position: fixed;
  font-size: 20px;
  border: 1px solid #95c600;
  border-radius: 5px;
  padding: 4px 8px;
  left: 15px;
  bottom: 15px;
  background-color: white;
  cursor: pointer;
  color: #95c600;
}
#header-block.sticky {
  z-index: 999;
  background-color: white;
  width: 100%;
}
#header-block.sticky + .row {
  margin-top: 95px;
}
#header-block .profile-url {
  margin: 0 !important;
  border-bottom: none;
}
.row.vertical-align {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .row.vertical-align {
    display: block;
  }
}
.row.vertical-align > [class^="col-"],
.row.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}
.row:not(.hidden).spacer + .row {
  margin-top: 10px;
}
.row:not(.hidden).spacer-20 + .row {
  margin-top: 20px;
}
.row:not(.hidden).spacer-40 + .row {
  margin-top: 40px;
}
.row:not(.hidden).spacer-all ~ .row {
  margin-top: 10px;
}
.row:not(.hidden).spacer-all-20 ~ .row {
  margin-top: 20px;
}
.row:not(.hidden).spacer-all-40 ~ .row {
  margin-top: 40px;
}
.collapse.in + a[data-toggle="collapse"] {
  display: none;
}
a[data-toggle="collapse"] {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px dashed #2c2432;
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  float: right;
}
a[data-toggle="collapse"]:after {
  content: "";
  position: relative;
  display: block;
}
.more  {
  display: none;
}
.btn-more {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-top: 5px;
}
.btn-more:focus,
.btn-more.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-more:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-more:active,
.btn-more.active,
.open > .dropdown-toggle.btn-more {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-more:active:hover,
.btn-more.active:hover,
.open > .dropdown-toggle.btn-more:hover,
.btn-more:active:focus,
.btn-more.active:focus,
.open > .dropdown-toggle.btn-more:focus,
.btn-more:active.focus,
.btn-more.active.focus,
.open > .dropdown-toggle.btn-more.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-more:active,
.btn-more.active,
.open > .dropdown-toggle.btn-more {
  background-image: none;
}
.btn-more.disabled:hover,
.btn-more[disabled]:hover,
fieldset[disabled] .btn-more:hover,
.btn-more.disabled:focus,
.btn-more[disabled]:focus,
fieldset[disabled] .btn-more:focus,
.btn-more.disabled.focus,
.btn-more[disabled].focus,
fieldset[disabled] .btn-more.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-more .badge {
  color: #fff;
  background-color: #333;
}
.btn-more .fa:before {
  content: "\f107";
}
.btn-more.opened .fa:before {
  content: "\f106";
}
.complex-page-all-href a {
  border-bottom: 1px dashed #2c2432;
}
.complex-page-all-href a:hover {
  color: #95c600;
}
.controls {
  margin: 0 20px;
  color: #82ad00;
}
.controls .next,
.controls .prev {
  position: relative;
  display: inline-block;
  font-size: 24px;
}
.controls .next a,
.controls .prev a {
  color: #82ad00;
}
.controls .next a.bx-next,
.controls .prev a.bx-next,
.controls .next a.bx-prev,
.controls .prev a.bx-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.controls .next a.bx-next.disabled,
.controls .prev a.bx-next.disabled,
.controls .next a.bx-prev.disabled,
.controls .prev a.bx-prev.disabled {
  display: none;
}
.hogart-share a {
  border: none;
  text-align: left;
  display: inline-block;
}
.hogart-share a .fa {
  font-size: 20px;
  margin-left: 10px;
}
.hogart-share a .fa:hover {
  color: #95c600;
}
.side_href div {
  margin-bottom: 10px;
}
.side_href div a {
  border-bottom: 1px dashed #2c2432;
}
.side_href div a:hover {
  color: #95c600;
}
.side_href div .fa {
  font-size: 18.2px;
  margin-right: 10px;
  width: 18px;
  text-align: center;
}
.full-height {
  min-height: calc(100vh - 215px) !important;
}
.aside {
  background: white;
  border-left: 1px solid #95c600;
  min-height: calc(100vh - 215px) !important;
}
ul.right-menu {
  padding: 0;
  list-style: none;
}
ul.right-menu li a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
ul.right-menu li a:hover {
  color: #95c600 !important;
}
ul.right-menu li.active a {
  color: #95c600 !important;
}
ul.right-menu li .fa,
ul.right-menu li [class^="icon-"]:before,
ul.right-menu li [class*=" icon-"]:before {
  margin-left: 0;
  margin-right: 10px;
  font-size: 18px;
}
.left-menu {
  margin-top: 15px;
  padding-left: 0;
  list-style: none;
  width: 90px;
}
.left-menu li {
  margin-bottom: 20px;
  height: 90px;
  padding: 15px 0;
  line-height: 30px;
  background-color: #95c600;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.left-menu li:hover,
.left-menu li:active,
.left-menu li.active {
  background-color: #2c2432;
}
.left-menu li a {
  display: block;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.left-menu li a i {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 300;
}
a[href^="mailto:"] {
  white-space: nowrap;
  display: inline-block;
  margin-left: 5px;
  transition: all .3s linear;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
}
a[href^="mailto:"]:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f0e0";
  margin-right: 5px;
}
a[href^="mailto:"]:hover {
  color: #95c600 !important;
  text-decoration: underline !important;
}
.breadcrumbs span:last-child {
  color: #95c600;
}
footer {
  margin-top: 20px;
}
footer .p_logo {
  width: 65px;
  height: 28px;
  background-image: url(/images/oldschool-logo.svg);
  background-size: auto;
}
@media (max-width: 768px) {
  .aside {
    border-left: none;
  }
}
.sections-list a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.sections-list a:hover {
  color: #95c600 !important;
}
.sections-list a.selected {
  color: #95c600 !important;
}
