@import (reference) "../../../../../../../../templates/hogart/variables";
@import "../../../../../../assets/hogart.lk/less/styles";
@import "../../../../../../assets/hogart.lk/less/awesome-bootstrap-checkbox";

.delimiter {
  border-bottom: 1px solid;
}

#add-report {
  width: 100%;
  margin-bottom: 20px;
}