html {
    font-family: "DejaVu Sans";
}
.title-holder {
    margin-bottom: 20px;
}
.title-holder table {
    width: 100%;
    color: rgb(20, 57, 31);
    font-size: 12px;
}
.title {
    font-size: 1.2em;
    text-align: center;
}
.date, .address {
    display: block;
}
.date {
    font-weight: bold;
    font-size: small;
}
.address {
    font-size: small;
}
.event-name {
    font-weight: bold;
}
.name {
    padding-left: 13px;
}
.title {

}
.reg-kupon {
    width: 600px;
    font-family: "DejaVu Sans", sans-serif;
    color: rgb(20, 57, 31);
    font-size: 12px;
    border: 3px solid;
    padding: 5px;
}
.barcode {
    text-transform: uppercase;
    padding: 0 13px;
}
.barcode span {
    display: inline-block;
    vertical-align: middle;
    color: rgb(20, 57, 31);
}
.barcode img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    width: 150px;
}
.company {
    background: #cccccc;
    padding: 14px 12px 12px;
    margin-top: 10px;
    font-size: 11px;
    color: #000;
    font-family: "DejaVu Sans", serif;
}
img {
    max-width: 100%;
}