@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.order-list .pagination {
  padding: 0;
}
.order-list .delimiter {
  border-bottom: 1px solid;
}
.order-list .order-line {
  display: block;
}
.order-list .order-line a .title {
  border-bottom: 1px dashed #95c600;
}
.order-list .order-line .money:after {
  padding-left: 5px;
  content: "\20bd";
}
.order-list .order-line .money-eur:before {
  padding-right: 5px;
  content: "€";
}
