ul.organizers li.organizer-item {
    height: 80px;
    vertical-align: middle;
    position: relative;
    list-style-type: none;
    margin-bottom: 20px;
    border-bottom: black 1px solid;
    box-sizing: content-box;
    padding-bottom: 20px;
}

ul.organizers li.organizer-item img {
    display: block;
    float: left;
    margin-right: 10px;
    height: 100%;
}

ul.organizers li.organizer-item span {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}

ul.organizers li.organizer-item:after {
    content: " ";
    display: block;
    position: relative;
    clear: both;
}