ul.organizers li.organizer-item {
    height: 64px;
    vertical-align: middle;
    position: relative;
    list-style-type: none;
}

ul.organizers li.organizer-item img {
    display: block;
    float: left;
}

ul.organizers li.organizer-item span {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}

ul.organizers li.organizer-item span:last-child:after {
    content: " ";
    display: block;
    position: relative;
    clear: both;
}