.center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bottom-between {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
