@import (reference) "../../../../variables";
@import (reference) "../../../../styles";

.doc-loadlist {
  .head {
    span {
      border-bottom: 1px dashed @brand-black;
    }
  }
  .item-box {
    margin-left: 20px;

    .item {
      margin-left: 20px;
    }
  }
}